@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
  url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-Light.otf')  format('opentype'),
	     url('../fonts/Montserrat-Light.woff') format('woff'), 
		 url('../fonts/Montserrat-Light.ttf')  format('truetype'); 
		 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
  url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-Bold.otf')  format('opentype'),
	     url('../fonts/Montserrat-Bold.woff') format('woff'), 
		 url('../fonts/Montserrat-Bold.ttf')  format('truetype'); 
		 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
  url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-Regular.otf')  format('opentype'),
	     url('../fonts/Montserrat-Regular.woff') format('woff'), 
		 url('../fonts/Montserrat-Regular.ttf')  format('truetype'); 
		 
  font-weight: normal;
  font-style: normal;
}



@font-face {
    font-family: 'DIN_Bold'; 
    src: url('../fonts/DIN_Bold.eot'); /* IE9 Compatibility Modes */
    src: url('../fonts/DIN_Bold.eot?') format('eot'),  /* IE6-IE8 */
    url('../fonts/DIN_Bold.otf') format('otf'), 
    url('../fonts/DIN_Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
	font-family:'DIN_Medium';
	src: url('../fonts/DINPro-Medium_gdi.eot');
	src: url('../fonts/DINPro-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Medium_gdi.woff') format('woff'),
		url('../fonts/DINPro-Medium_gdi.ttf') format('truetype'),
		url('../fonts/DINPro-Medium_gdi.svg#DIN_Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	
}

@font-face {
	font-family:'DIN_Black';
	src: url('../fonts/DINPro-Black_gdi.eot');
	src: url('../fonts/DINPro-Black_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Black_gdi.woff') format('woff'),
		url('../fonts/DINPro-Black_gdi.ttf') format('truetype'),
		url('../fonts/DINPro-Black_gdi.svg#DIN_Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}


@font-face {
    font-family: 'DIN'; 
    src: url('../fonts/DINOffc.ttf') format('truetype'); /* Safari, Android, iOS */
}

html, body {
    height: 100%;
}
body {
    font-family: Montserrat-Light, sans-serif;
    font-size: 15px;
	letter-spacing: 1px;
	line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat-Bold, sans-serif;
}

.nopad {
    padding: 0px !important;
}
.pad-r0 {
    padding-right: 0;
}
.pad-l0 {
    padding-left: 0;
}
.pad-15 {
    padding: 15px;
}
.nomar {
    margin: 0;
}
.mar-t0 {
    margin-top: 0;
}
.mar-b0 {
    margin-bottom: 0;
}
.bot-10 {
    height: 10px;
}
.bot-15 {
    height: 15px;
}
.justify-text {
    text-align: justify;
}
.gr-back {
    background: #EBEBEB;
}
.shad {
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
}
.center{
    float: none;
    margin: auto;
}
.bordered {
    border: 1px solid #BEBEBE;
}
.lgrey {
    color: #666 !important;
}
.llgrey {
    color: #999;
}
.f-normal {
    font-weight: normal;
}
.pointer {
    cursor: pointer;
}
.rs-r {
    color: #FE0000;
}
.rs-btn {
    font-family: Montserrat-Bold, sans-serif;
    background: #FE0000;
    color: #FFF;
    border-radius: 2px;
}
.rs-border {
    width: 30px;
    border: 2px solid #FE0000;
}
.rs-separator .left {
    background: #FE0000;
    width: 20px;
    height: 4px;
    display: inline-block;
}
.rs-separator .right {
    background: #333;
    width: 20px;
    height: 4px;
    display: inline-block;
}
.rs-navbar {
    height: 82px;
    z-index: 99;
    position: fixed;
    width: 100%;
    background: #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navbar-brand img {
    max-width: 245px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nav > li > a {
    padding: 0;
}
.rs-navbar .navbar-collapse ul li {
    padding: 30px 28px 10px 0;
	letter-spacing: .5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.rs-navbar .navbar-collapse ul li a:hover {
    color: #FE0000;
}
.rs-navbar .navbar-collapse ul li a {
    margin-top: 4px;
    cursor: pointer;
}
.rs-navbar .navbar-collapse ul li .active {
    color: #FE0000;
    margin-top: 0;
}
.navbar-toggle {
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.fix-top {
    height: 80px;
}
.col-main {
    padding: 50px;
    font-size: 15px;
}
.rs-title {
    font-size: 30px;
    color: #FF9800;
	font-family: Montserrat-Light, sans-serif;
}
.prod {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin: 20px 20px;
}
.prod .prod-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
}
.prod .prod-title {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.1;
}
.col-how {
    color: #533030;
}
.col-how .how-block {
    margin-bottom: 30px;
}
.VLine {
    position: absolute;
    height: 80%;
}
.VLine div {
    margin-top: 10px;
    border-left: 2px solid #533030;
    height: 100%;
    position: absolute;
    left: 50%;
    z-index: -1;
}
.col-how .how-block .how-text {
    margin-top: 20px;
}
.col-how .how-block .how-text .title {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
}
.about-main, .about-main-2 {
    font-family: Montserrat-Light, sans-serif;
}
.about-main {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.col-client img {
    margin: 10px;
}
.contact {
    margin-bottom: 2px;
    font-family: DIN_Bold;
	font-family: Montserrat-Regular, sans-serif;
}
.contact .c-type .title {
    font-size: 15px;
    margin-top: 20px;
	  font-family: Montserrat-Bold, sans-serif;
}
.contact .c-type .desc {
    font-size: 14px;
}
.contact input {
    font-family: Montserrat-Light, sans-serif;
    margin-bottom: 15px;
}
.contact textarea {
    font-family: Montserrat-Light, sans-serif;
    resize: none;
    margin-bottom: 15px;
}
.contact .terms span {
    font-family: Montserrat-Light, sans-serif;
    margin: 15px;
    display: inline-block;
    font-size: 13px;
    color: #333;
}
.contact .terms a {
    text-decoration: none;
}
.filter-category a {
    color: #666;
    text-decoration: none;
	font-family: Montserrat-Regular, sans-serif;
}
.filter-category .active a {
    color: #FE0000;
}
.cat-title {
    display: inline-block;
    vertical-align: bottom;
}
.sort-input {
    padding: 5px 5px;
    margin: 0 5px;
}
.product {
    margin-bottom: 30px;
	margin-top: 30px;
}
.product .prod-sub-desc {
    font-size: 12px;
}
.terms-category li {
    cursor: pointer;
}
.atrate {
    font-family: sans-serif;
}

@media (max-width: 991px) {
    
}
@media (max-width: 768px) {
    .xs-no-pad {
        padding:0px !important;
    }
    .col-main {
        padding: 30px 15px;
    }
    .rs-navbar .navbar-collapse ul li {
        padding: 10px 35px 10px 20px !important;
        text-align: center;
    }
    .navbar-header .navbar-toggle {
        margin: 25px 0;
    }
    .rs-navbar .navbar-collapse {
        background: #FFF;
    }
    .col-how .how-block .how-text {
        margin-top: 0;
    }
    .contact .c-type .title {
        margin-top: 5px;
    }
    .contact .c-type {
        margin-bottom: 25px;
    }
    .xs-left {
        float: left;
    }
}

.home-splash { height:100%; }
.nav  li  a {    font-family: Montserrat-Light, sans-serif;
    font-size: 15px;}
	
.rs-breadcrumb { font-size: 12px;}
.rs-download {  font-family: Montserrat-Regular, sans-serif; font-size: 12px;}
